@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Welcome to 3Amigos Review Site</h1>
    <p class="class1">Learn about <a class = "class1" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<br />
<br />








</html>
