{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background linear-gradient(to top, rgba(0,0,) )
}

.deleteclass {
font-weight: bold;
color: red;

}






html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: #4CAF50;
}
nav {
    margin: 0
}


h1 {
    text-align: center
}